.table-card-container-phone{
    width: 113px;
    background-color: #FFFFFF;
    padding: 0 0 4px 4px;
    border-radius: 8px;
}

.table-img-phone{
width: 115px;
}

.table-card-text-container-phone{
    padding-right: 0px;
}

.table-card-text-phone{   
    font-size: 11px;    
}

.table-card-content-phone{
    padding-top: 3px;
    display: flex;
    width: 100px;    
    justify-content: space-between;
}

.heart-img:active path{
    fill: red;
    stroke: red;
}