.ImageCenter{
    padding-top: 32px;
    width: 1348px;
}

.container{
    padding-top: 116px;

}

.ImageBotton{
    padding-top: 91px;
    width: 1348px;
}

.container-bottom{
    padding-top: 91px;
}