.product-price-container{
    display: flex;
}

.product-price-container span{
    font-size: 28px;
    color: #000; 
    padding-top: 16px;
    padding-left: 0px;
    font-weight: 400;
}

.product-price-container h3{
    font-size: 32px;
    color: #000;
    margin-left: 12px;
    font-weight: 600;
    padding-top: 16px;
    padding-right: 28px;

}